@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1>Registos de Covid</h1>
    <p>El siguiente formulario es para llevar el registro de casos reportados de<br /> Covid por departamento y genero</p>
</div>

<div class="container">
    <h5 class="my-4">Reportar casos</h5>
    <form asp-action="CrearReporte">
        <div class="form-group row">
            <div class="col">
                @Html.Label("lblDepartamento","Departamento")
            </div>
            <div class="col">
                @Html.Label("lblGenero","Genero")
            </div>
        </div>
        <div class="form-group row my-4">
            <div class="col">
                @Html.DropDownList("id_departamento", ViewData["listaDepartamentos"] as SelectList,"Seleccione un departamento", new{@class="form-control"} )
            </div>
            <div class="col">
                @Html.DropDownList("id_genero", ViewData["listaGeneros"] as SelectList,"Seleccione un genero", new{@class="form-control"} )
            </div>
        </div>
        <div class="form-group row my-4">
            <div class="col">
                @Html.Label("lblCasosCon","Casos Confirmados")
            </div>
            <div class="col">
                @Html.Label("lblCasosRecup","Número de Recuperados")
            </div>
            <div class="col">
                @Html.Label("lblFalle","Número de Fallecidos")
            </div>
        </div>
        <div class="form-group row my-4">
            <div class="col">
                @Html.TextBox("confirmados","",new {@class="form-control"})
            </div>
            <div class="col">
                @Html.TextBox("recuperados","",new {@class="form-control"})
            </div>
            <div class="col">
                @Html.TextBox("fallecidos","",new {@class="form-control"})
            </div>
            <input type="submit" value="Guardar" class="btn btn-success mt-5" />
        </div>
    </form>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>Casos Reportados</tr>
            <tr>
                <th>Departamento</th>
                <th>Genero</th>
                <th>Confirmados</th>
                <th>Recuperados</th>
                <th>Fallecidos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reporte in (IEnumerable<dynamic>)ViewData["listaReportes"])
        {
        <tr>
            <td>@reporte.departamento</td>
            <td>@reporte.genero</td>
            <td>@reporte.confirmados</td>
            <td>@reporte.recuperados</td>
            <td>@reporte.fallecidos</td>
        </tr>
        }
        </tbody>
    </table>
</div>

